APScheduler==3.7.0
certifi==2020.12.5
chardet==4.0.0
et-xmlfile==1.0.1
flake8==3.8.4
gitdb==4.0.5
GitPython==3.1.12
idna==2.10
importlib-metadata==3.4.0
jdcal==1.4.1
mccabe==0.6.1
numpy==1.19.5
openpyxl==3.0.6
pandas==1.1.5
pycodestyle==2.6.0
pyflakes==2.2.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
smmap==3.0.5
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.3
zipp==3.4.0
